@media (min-width:320px) and (max-width:575px){

/* ============= manu bar responsive css start=============== */
    nav{
    }
    .fixed{
        background-color: #222;
        border-color: #080808;
        box-shadow: 0 0 5px rgba(0, 0, 0, .8);
    }
    nav .navbar-collapse{
        text-align: center;
    }
    nav ul{
        background: #222;
        width: 90%;
        margin: auto;
    }
    nav .navbar-nav .nav-link{
        display: inline-block;
    }
    nav .navbar-collapse ul li a::after{
        bottom: 0;
    }
    .fixed .navbar-collapse ul li a::after {
        bottom: 0px;
    }
/* ============= manu bar responsive css end=============== */
/* ============= banner responsive css start=============== */
#banner{
    width: auto;
}
#bannnerPart .bannerSlide{
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
}
#bannnerPart .bannerSlide .overlay{
    padding-bottom: 100px;
}
#bannnerPart .bannerSlide .overlay h3{
    font-size: 30px;
    padding-top: 125px;
}
#bannnerPart .bannerSlide .overlay h1{
    font-size: 45px;
}
#bannnerPart .bannerSlide .overlay p{
    width: auto;
    line-height: 26px;
    margin-bottom: 20px;
}
.bnrnext{
    padding: 10px;
    top: 57%;
    right: 29px;
}
.bnrprev{
    padding: 10px;
    top: 57%;
    left: 38px; 
}
/* ============= banner responsive css end=============== */

#aboutPart {
    padding-top: 30px;
    border-top: 1px solid #bebebe;
    box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.75);
    text-align: center;
}
#aboutPart .title p{
    padding: 0 15px;
    width: auto;
}

#aboutPart .item{
    margin: 15px;
}
#aboutPart .item:hover{
    box-shadow: 0px 3px 21px -3px rgba(0,0,0,0.75);
}
#aboutPart .item p{
    width: auto;
}
#aboutPart .item .shape{
    display: none;
}
#aboutPart .item .circle{
    display: none;
}
#aboutPart .item2{
    margin: 15px;
    text-align: center;
}
#aboutPart .item2:hover{
    box-shadow: 0px 3px 21px -3px rgba(0,0,0,0.75);
}
#aboutPart .item2 p{
    width: auto;
}
#aboutPart .item2 .shape{
    display: none;
}
#aboutPart .item2 .circle{
    display: none;
}
#aboutPart .roundimg{
    width: 280px;
    height: 280px;
    margin: auto;
    /* margin-left: 50px; */
}
#aboutPart .roundimg .imge{
    width: 245px;
    height: 245px;
}

#aboutPart .item3{
    margin: 15px;
    text-align: center;
}
#aboutPart .item3:hover{
    box-shadow: 0px 3px 21px -3px rgba(0,0,0,0.75);
}
#aboutPart .item3 p{
    width: auto;
}
#aboutPart .item3 .shape{
    display: none;
}
#aboutPart .item3 .circle{
    display: none;
}

#aboutPart .item4{
    margin: 15px;
    text-align: center;
}
#aboutPart .item4:hover{
    box-shadow: 0px 3px 21px -3px rgba(0,0,0,0.75);
}
#aboutPart .item4 p{
    width: auto;
}
#aboutPart .item4 .shape{
    display: none;
}
#aboutPart .item4 .circle{
    display: none;
}
/* =========protfolio responsive start============ */


#protfolio{
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
}
#protfolio .title p{
    width: auto;
    padding: 0 15px;
}
#protfolio .overlay{
    padding: 60px 0;
}

#protfolio .overlay .pslide{
    margin-left: 20px;
}

/* =========protfolio responsive end============ */
/* =========service responsive start============ */
#service{
    /* border-bottom: 1px solid #bebebe;
    box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.75); */
}
#service .title p{
    width: auto;
    padding: 0 15px;
}
#service .slideup::after{
    display: none;
}
#service .part1{
    text-align: center;
}
#service .part1 h3{
    margin-top: 27px;
}
#service .part2 .img{
    margin-top: 25px;
    margin-bottom: 30px;
}
#service .part3 p{
    width: auto;
    text-align: center;
    padding: 25px 35px;
} 
#service .part3 .shape{
    background: #f1f1f1;
    top: 8px;
    left: 50%;
}
#service .part4{
    text-align: center;
}
#service .part4 p{
    width: auto;
    padding: 25px 35px;
}
#service .part4 .shape{
    background: #f1f1f1;
    top: 8px;
    right: 50%;
}
#service .part5 .img{
    margin-top: 25px;
    margin-bottom: 30px;
}
#service .part6 h3{
    margin-top: 27px;
    text-align: center;
    display: inherit;
}
#service .slideup .slick-center .img{
    transform: scale(1);
    background: #bebebe;
}
.srvcup{
    top: -20%;
}
/* =========service responsive end============ */
/* =========testimonial responsive start============ */
#testimonial{
    clip-path: polygon(0 5%, 100% 0, 100% 98%, 0% 100%);
    border-top: 1px solid #bebebe;
    box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.75);
    text-align: center;
    width: auto;
}
#testimonial .overlay{
    padding: 110px 0;
}
#testimonial .overlay .imgslide .img {
    transform: scale(.6);
    margin-left: 2px;
}
#testimonial .overlay .imgslide .slick-center{
    transform: scale(0.8);
}
#testimonial .overlay .imgslide::after{
    display: none;
}
#testimonial .overlay .textslider{
}
#testimonial .overlay .textslider .item{
    margin-top: 110px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px 15px;
}
#testimonial .overlay .textslider .item p{
    width: auto;
}
#testimonial .overlay .textslider .item .shape{
    display: none;
}
.tup{
    padding: 10px;
    top: -52%;
    left: 50%;
}
.tdown{
    padding: 10px;
    bottom: -105px;
    right: 50%;
}
/* =========testimonial responsive end============ */
/* =========pricing responsive end============ */
#pricing .title p{
    width: auto;
    padding: 0 15px;
}
#pricing .item{
    margin-bottom: 10px;
}

/* =========pricing responsive end============ */
/* =========counter responsive start============ */
#counter .overlay .item{
    width: 136px;
    padding: 20px 0px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    transform: skewX(3deg);
}
#counter .overlay .lc{
    margin-left: 80px;
}
/* =========team responsive start============ */
#teamPart .title p{
    width: auto;
    padding: 0 15px;
}
/* =========team responsive end============ */
/* =========footer responsive start============ */
#footerPart .addres .item{
    text-align: center;
    margin-top: 40px;
}
#footerPart .social ul li{
    margin-left: 5px;
    margin-right: 5px;
}
#footerPart .copyr p{
    font-size: 12px;
}
/* =========footer responsive end============ */
}
/* ============================================= 320-575 device end====================================== */

@media (min-width:576px) and (max-width:767px){

    /* ============= manu bar responsive css start=============== */
        nav{
        }
        .fixed{
            background-color: #222;
            border-color: #080808;
            box-shadow: 0 0 5px rgba(0, 0, 0, .8);
        }
        nav .navbar-collapse{
            text-align: center;
        }
        nav ul{
            background: #222;
            width: 90%;
            margin: auto;
        }
        nav .navbar-nav .nav-link{
            display: inline-block;
        }
        nav .navbar-collapse ul li a::after{
            bottom: 0;
        }
        .fixed .navbar-collapse ul li a::after {
            bottom: 0px;
        }
    /* ============= manu bar responsive css end=============== */
    /* ============= banner responsive css start=============== */
    #banner{
        width: auto;
    }
    #bannnerPart .bannerSlide{
        clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
    }
    #bannnerPart .bannerSlide .overlay{
        padding-bottom: 100px;
    }
    #bannnerPart .bannerSlide .overlay h3{
        font-size: 30px;
        padding-top: 125px;
    }
    #bannnerPart .bannerSlide .overlay h1{
        font-size: 45px;
    }
    #bannnerPart .bannerSlide .overlay p{
        width: auto;
        line-height: 26px;
        margin-bottom: 20px;
    }
    .bnrnext{
        padding: 10px;
        top: 57%;
        right: 29px;
    }
    .bnrprev{
        padding: 10px;
        top: 57%;
        left: 38px; 
    }
    /* ============= banner responsive css end=============== */
    
    #aboutPart {
        padding-top: 30px;
        border-top: 1px solid #bebebe;
        box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.75);
        text-align: center;
    }
    #aboutPart .title p{
        padding: 0 15px;
        width: auto;
    }
    
    #aboutPart .item{
        margin: 15px;
    }
    #aboutPart .item:hover{
        box-shadow: 0px 3px 21px -3px rgba(0,0,0,0.75);
    }
    #aboutPart .item p{
        width: auto;
    }
    #aboutPart .item .shape{
        display: none;
    }
    #aboutPart .item .circle{
        display: none;
    }
    #aboutPart .item2{
        margin: 15px;
        text-align: center;
    }
    #aboutPart .item2:hover{
        box-shadow: 0px 3px 21px -3px rgba(0,0,0,0.75);
    }
    #aboutPart .item2 p{
        width: auto;
    }
    #aboutPart .item2 .shape{
        display: none;
    }
    #aboutPart .item2 .circle{
        display: none;
    }
    #aboutPart .roundimg{
        width: 280px;
        height: 280px;
        margin: auto;
        /* margin-left: 50px; */
    }
    #aboutPart .roundimg .imge{
        width: 245px;
        height: 245px;
    }
    
    #aboutPart .item3{
        margin: 15px;
        text-align: center;
    }
    #aboutPart .item3:hover{
        box-shadow: 0px 3px 21px -3px rgba(0,0,0,0.75);
    }
    #aboutPart .item3 p{
        width: auto;
    }
    #aboutPart .item3 .shape{
        display: none;
    }
    #aboutPart .item3 .circle{
        display: none;
    }
    
    #aboutPart .item4{
        margin: 15px;
        text-align: center;
    }
    #aboutPart .item4:hover{
        box-shadow: 0px 3px 21px -3px rgba(0,0,0,0.75);
    }
    #aboutPart .item4 p{
        width: auto;
    }
    #aboutPart .item4 .shape{
        display: none;
    }
    #aboutPart .item4 .circle{
        display: none;
    }
    /* =========protfolio responsive start============ */
    
    
    #protfolio{
        clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
    }
    #protfolio .title p{
        width: auto;
        padding: 0 15px;
    }
    #protfolio .overlay{
        padding: 60px 0;
    }
    
    #protfolio .overlay .pslide{
        margin-left: 20px;
    }
    
    /* =========protfolio responsive end============ */
    /* =========service responsive start============ */
    #service{
        /* border-bottom: 1px solid #bebebe;
        box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.75); */
    }
    #service .title p{
        width: auto;
        padding: 0 15px;
    }
    #service .slideup::after{
        display: none;
    }
    #service .part1{
        text-align: center;
    }
    #service .part1 h3{
        margin-top: 27px;
    }
    #service .part2 .img{
        margin-top: 25px;
        margin-bottom: 30px;
    }
    #service .part3 p{
        width: auto;
        text-align: center;
        padding: 25px 35px;
    } 
    #service .part3 .shape{
        background: #f1f1f1;
        top: 8px;
        left: 50%;
    }
    #service .part4{
        text-align: center;
    }
    #service .part4 p{
        width: auto;
        padding: 25px 35px;
    }
    #service .part4 .shape{
        background: #f1f1f1;
        top: 8px;
        right: 50%;
    }
    #service .part5 .img{
        margin-top: 25px;
        margin-bottom: 30px;
    }
    #service .part6 h3{
        margin-top: 27px;
        text-align: center;
        display: inherit;
    }
    #service .slideup .slick-center .img{
        transform: scale(1);
        background: #bebebe;
    }
    .srvcup{
        top: -20%;
    }
    /* =========service responsive end============ */
    /* =========testimonial responsive start============ */
    #testimonial{
        clip-path: polygon(0 5%, 100% 0, 100% 98%, 0% 100%);
        border-top: 1px solid #bebebe;
        box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.75);
        text-align: center;
        width: auto;
    }
    #testimonial .overlay{
        padding: 110px 0;
    }
    #testimonial .overlay .imgslide .img {
        transform: scale(.8);
        margin-left: 2px;
    }
    #testimonial .overlay .imgslide .slick-center{
        transform: scale(1);
        background: #fec600;
    }
    #testimonial .overlay .imgslide::after{
        display: none;
    }
    #testimonial .overlay .textslider{
    }
    #testimonial .overlay .textslider .item{
        margin-top: 110px;
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
        padding: 30px 15px;
    }
    #testimonial .overlay .textslider .item p{
        width: auto;
    }
    #testimonial .overlay .textslider .item .shape{
        display: none;
    }
    .tup{
        padding: 10px;
        top: -52%;
        left: 50%;
    }
    .tdown{
        padding: 10px;
        bottom: -105px;
        right: 50%;
    }
    /* =========testimonial responsive end============ */
    /* =========pricing responsive end============ */
    #pricing .title p{
        width: auto;
        padding: 0 15px;
    }
    #pricing .item{
        margin-bottom: 10px;
    }
    
    /* =========pricing responsive end============ */
    /* =========counter responsive start============ */
    #counter .overlay .item{
        width: 136px;
        padding: 20px 0px;
        margin-left: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        transform: skewX(3deg);
    }
    #counter .overlay .lc{
        margin-left: 80px;
    }
    /* =========team responsive start============ */
    #teamPart .title p{
        width: auto;
        padding: 0 15px;
    }
    /* =========team responsive end============ */
    /* =========footer responsive start============ */
    #footerPart .addres .item{
        text-align: center;
        margin-top: 40px;
    }
    #footerPart .social ul li{
        margin-left: 5px;
        margin-right: 5px;
    }
    #footerPart .copyr p{
        font-size: 14px;
    }
    /* =========footer responsive end============ */
    }










